body{
    background-color: black;
    text-align: center;

}
h1{
    color: black;
    display: inline-block;
    width: 100px;
    height:50px;
    background-color:white ;
}
button{
    width:100px;
    height:50px;
}
.SW{
    color:white;
    font-size: 100px;
}